.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.user-image {
  width: 180px;
  height: 16opx;
}
.name {
  font-size: 30px;
  font-weight: 600;
  font-family: 'roboto';
}
.description {
  font-size: 18px;
  font-weight: 500;
  font-family: 'roboto';
}
